@import "tailwindcss";
@import "@nuxt/ui";
@tailwind utilities;

/* ============================
   Base Global Styles
============================ */
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #111827;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Headings use Plus Jakarta Sans */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}
