@import "tailwindcss";
@import "@nuxt/ui";
@tailwind utilities;

/* ============================
   Base Global Styles
============================ */
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
  background-color: #ffffff;
  color: #111827;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Headings use Ubuntu */
