@import "tailwindcss";
@import "@nuxt/ui";
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

/* ============================
   Base Global Styles
============================ */
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
  background-color: theme("colors.white");
  color: theme("colors.secondary.900");
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Headings use Inter */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

@layer base {
  :root {
    --color-primary-50: 254 242 242;
    --color-primary-100: 254 226 226;
    --color-primary-200: 254 202 202;
    --color-primary-300: 252 165 165;
    --color-primary-400: 248 113 113;
    --color-primary-500: 210 65 12; /* Your main brand color */
    --color-primary-600: 234 88 12; /* Your brand light */
    --color-primary-700: 154 42 0; /* Your brand dark */
    --color-primary-800: 127 29 29;
    --color-primary-900: 127 29 29;
    --color-primary-950: 69 10 10;
    --color-primary-DEFAULT: 210 65 12;
  }
}
