@import "tailwindcss";
@import "@nuxt/ui";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

/* ============================
   Base Global Styles
============================ */
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
  background-color: theme("colors.white");
  color: theme("colors.secondary.900");
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Headings use Inter */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
